.form_control {
  display: flex;
  flex-direction: column;

  margin-bottom: .5em 0;

  label {
    padding: .5em 0;
    font-weight: bold;
  }

  select {
    padding: .6em;
    border-radius: 0;
    border: none;
  }

}